/* link,visited,hover,active */
a:link{
   color: yellowgreen;
}

a:visited{
   color: black;
}

a:hover{
   color: blueviolet;
}

a:active{
   color: brown;
}

input:focus{
  border: 2px solid black;
  word-spacing: 2px solid red;
}