.ap{
   text-emphasis-color: white;
   margin-top: 14%;
   margin-bottom: 12%;
   background-color: rgb(74, 99, 124);
   margin-inline-start: 40%;
   margin-inline-end: 40%;
   padding: auto;
}
body{
   background-color: rgb(120, 49, 127);
}
