@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
body{font-family: 'Montserrat', sans-serif;} 

h2{
    background-color: rgb(115, 137, 157);
    text-align: center;
    padding: 15px 0px;
    
}
.container{
    width: 1400px;
    margin: 0 auto;
}
section.aboutme , section.paragraph{
    border: 2px solid rgb(119, 107, 107);
}

.aboutme{
    margin-bottom: 40px;
}